- name: Decode Keystore
        run: |
          # We place the keystore in the root directory for maximum visibility
          echo "${{ secrets.KEYSTORE_BASE64 }}" | base64 --decode > $GITHUB_WORKSPACE/upload-keystore.jks

      - name: Create key.properties
        run: |
          # We use the full absolute path from GITHUB_WORKSPACE
          echo "storePassword=${{ secrets.KEYSTORE_PASSWORD }}" > key.properties
          echo "keyPassword=${{ secrets.KEY_PASSWORD }}" >> key.properties
          echo "keyAlias=upload" >> key.properties
          echo "storeFile=$GITHUB_WORKSPACE/upload-keystore.jks" >> key.properties

      - name: Build APKs
        run: |
          flutter build apk --flavor normal --release --obfuscate --split-debug-info=build/debug-info
          flutter build apk --flavor fdroid -t lib/main_fdroid.dart --release --obfuscate --split-debug-info=build/debug-info
