name: Build and Release
permissions:
  contents: write

on:
  workflow_dispatch:
    inputs:
      beta:
        type: boolean
        description: "Is this a beta release?"
        default: false

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - uses: subosito/flutter-action@v2
        with:
          channel: stable
          cache: true

      - uses: actions/setup-java@v4
        with:
          distribution: 'temurin'
          java-version: '21'

      - name: Extract Version
        id: extract_version      
        run: |
          VERSION=$(grep '^version: ' pubspec.yaml | cut -d ' ' -f 2 | cut -d '+' -f 1)
          echo "version=$VERSION" >> $GITHUB_OUTPUT
          echo "tag=v$VERSION" >> $GITHUB_OUTPUT
          echo "beta=${{ github.event.inputs.beta }}" >> $GITHUB_OUTPUT

      - name: Generate Temporary Keystore
        run: |
          keytool -genkey -v -keystore upload-keystore.jks \
            -keyalg RSA -keysize 2048 -validity 10000 \
            -alias upload -dname "CN=Updatium, OU=Dev, O=Updatium, L=IL, S=IL, C=IL" \
            -storepass "password123" -keypass "password123"
          echo "storePassword=password123" > android/key.properties
          echo "keyPassword=password123" >> android/key.properties
          echo "alias=upload" >> android/key.properties
          echo "storeFile=../upload-keystore.jks" >> android/key.properties

      - name: Build APKs
        run: |
          flutter build apk --flavor normal --release
          flutter build apk --flavor fdroid -t lib/main_fdroid.dart --release

      - name: Save APKs as Artifacts
        uses: actions/upload-artifact@v4
        with:
          name: release-apks
          path: build/app/outputs/flutter-apk/*.apk

      - name: Create Release
        uses: softprops/action-gh-release@v1
        with:
          token: ${{ secrets.GITHUB_TOKEN }}
          tag_name: ${{ steps.extract_version.outputs.tag }}
          prerelease: ${{ steps.extract_version.outputs.beta == 'true' }}
          draft: true
          files: build/app/outputs/flutter-apk/*.apk
          generate_release_notes: true
